---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: brizy-image-resizer-deployment
spec:
  template:
    spec:
      containers:
        - name: brizy-image-resizer
          image: *docker-image
      imagePullSecrets: # https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
        - name: regcred

